.about-panel {
  position: relative;
}
.hero-image {
  height: 500px;
  filter: brightness(55%);
}

.hero-img-title {
  position: absolute;
  margin-top: -144px;
  color: white;
  font-size: 100px;
  margin-left: 200px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 7px;
}
