*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

/*Top nav*/
.topnavigation_items{
    margin: 10px;
}

.top_navIcons {
    margin: 10px 8px;
}

.top_nav_titles {
    margin: 10px 5px;
}

.top_navIcons i {
    font-size: 32px;
    padding: 10px;
    color:orange;
}

.nav_title{
    font-size: 16px;
    font-weight: 600;
}

.nav_desc{
    margin-top: -15px;
}
/*Top nav ends*/

@media (max-width: 1197px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


@media screen and (max-width: 1197px) {
  #logoTopNav{
      display: none;
      visibility:hidden;
  }
  .navbar{
      margin-top: 20px;
      color:white;
  }
  .navbar-brand{
      content:"Logo"
  }
}

/*Main Navigation*/
.navbar-social_links {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  margin-left: 510px;
}

.navbar-icons{
  color: black;
  font-size: 24px;
  padding: 0 16px;
  border-left: 1px solid black;
}

@media screen and (max-width: 1400px) {
  .navbar-social_links {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin-left: 350px;
  }
}


/* .fa-facebook {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke : black;  
} */

/*Main Navigation ends*/

/*Footer starts*/
.content1{
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
  }
  .content1 .text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
  }
  .content1 .p{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
  }

  footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #111;
    color: white;
  }

  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: orange;
    top: -10px;
  }

  .social a{
    color: white;
  }

  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: orange;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: orange;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
    outline: none;
  }
  .right form input{
    height: 35px;
    color:white;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: orange;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: grey;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
}

/*Footer ends*/