{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.style.css' %}">
{% endblock %}
{% block content %}
<div class="about-panel">
    <!-- <div class="hero-image" 
    style="background: url('../../AU/static/img/img1.jpg'); background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    height:70vh;
    filter: brightness(55%);"
    > </div> -->
    <div class="hero-image"></div>
    <h1 class="hero-img-title">About Us</h1>
</div>
<section>
<div class="about-company">
    <div class="container">
        <div class="about-section" >
            <div class="inner-container">
                <h1>{{aboutcompany.about_title}}</h1>
                <p class="text">
                  {{aboutcompany.about_description}}
                </p>
                <p class="text">
                  {{aboutcompany.about_description_sub}}
                </p>
                <p class="text">
                  {{aboutcompany.about_description_sub_I}}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="about-founder">
    <div class="container">
        <div class="row">
            <h1>About President KB Shrestha</h1>
            <div class="col-sm">
                <p class="president-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione id, sequi libero enim illo perferendis perspiciatis quae laudantium nemo voluptatum non repudiandae impedit nostrum fugiat voluptas maiores iste dolorem pariatur!
                </p>
                <p class="president-description-sub">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil quis mollitia quos labore vero explicabo praesentium architecto minus dolorum officiis. Voluptates vero aperiam dolorum doloremque cum quas rerum sapiente assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ex reiciendis suscipit eaque doloribus reprehenderit officiis amet aperiam delectus veritatis, enim placeat, dolorum quis ea fugit fugiat sit dolorem repellat.
                </p>
                <p class="president-description-sub">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil quis mollitia quos labore vero explicabo praesentium architecto minus dolorum officiis. Voluptates vero aperiam dolorum doloremque cum quas rerum sapiente assumenda.
                </p>
            </div>
            <div class="col-sm">
                <img src="./img/img2.jpg" alt="" class="president-img" width="100%">
            </div>
        </div>
</div>
</div> -->
<div class="about-experts id="bg-color">
<div class="container">
    <div class="expert-title">
      <h1 class="expert-title">Our Expert</h1>
    </div>
    <div class="row owl-carousel">
      {% for AboutTeam in aboutteam %}
      <div class="col">
        <img src="{{AboutTeam.profile_photo.url}}" alt="Users Photo" class="about-img" id="img14" style="visibility:visible">
        <p class="users-name">{{AboutTeam.name}}</p>
        <p class="job-title">{{AboutTeam.job_title}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
<div class="counselling">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="book-free-counselling">
        Book Free Counselling
      </h1>
      <p class="counselling-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consequatur ipsum odio dolorum! Laborum ipsa odit ad consequatur rem minima quos, tempora molestiae eligendi, doloribus voluptatum voluptatibus earum consectetur. Iusto.</p>
      <a href=""><button class="book-a-session">Book a Session</button></a>
      <p class="email-num-details">Email : example@gamil.com | Number : 9841354543</p>
    </div>
  </div>
</div>
</div>
</section>
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{%static 'js/about.js' %}"></script>
{% endblock %}
{% endblock %}