{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.style.css' %}">
{% endblock %}
{% block content %}
<div class="about-panel">
    <div class="hero-image" 
    style="background: url('{{aboutcompany.hero_img.url}}'); background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    height:70vh;
    filter: brightness(55%);"
    > </div>
    <div class="hero-image"></div>
    <h1 class="hero-img-title">About Us</h1>
</div>
<section>
<div class="about-company">
    <div class="container">
        <div class="about-section" style="
        overflow: hidden;
        background: url('{{aboutcompany.hero_img.url}}') no-repeat left;
        background-size: 55%;
        background-color: #fdfdfd;
    " >
            <div class="inner-container">
                <h1>{{aboutcompany.about_title}}</h1>
                <p class="text">
                  {{aboutcompany.about_description}}
                </p>
                <p class="text">
                  {{aboutcompany.about_description_sub}}
                </p>
                <p class="text">
                  {{aboutcompany.about_description_sub_I}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="about-experts id="bg-color">
<div class="container">
    <div class="expert-title">
      <h1 class="expert-title">Our Expert</h1>
    </div>
    <div class="row owl-carousel">
      {% for AboutTeam in aboutteam %}
      <div class="col">
        <img src="{{AboutTeam.profile_photo.url}}" alt="Users Photo" class="about-img" id="img14" style="visibility:visible">
        <p class="users-name">{{AboutTeam.name}}</p>
        <p class="job-title">{{AboutTeam.job_title}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
<div class="counselling">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="book-free-counselling">
        Book Free Counselling
      </h1>
      <p class="counselling-description">Tara Education Consultancy believes in "uncompromising quality" and "passionate customer care" in order for making our clients satisfied. We help each student make an informed decision to achieve their education and career goal in Australia by choosing the right course, the right education provider and the right location.</p>
      <a href="{% url 'contact' %}"><button class="book-a-session">Book a Session</button></a>
      <p class="email-num-details">Email : <a href="mailto: info@taraeducation.com.au">info@taraeducation.com.au</a> | Viber Number : <a href="viber://chat/?number=+61433893456">+61433893456</a></p>
    </div>
  </div>
</div>
</div>
</section>
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{%static 'js/about.js' %}"></script>
{% endblock %}
{% endblock %}