{% extends 'base.html' %} {% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}
{% block content %}
<section class="contact-banner">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.52142191842!2d85.32134711506195!3d27.7011827827944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1989dffe346f%3A0x7b7486949eda04e7!2sTEC%20Group%20Global!5e0!3m2!1sen!2snp!4v1621926121740!5m2!1sen!2snp" width="100%"
    height="450"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
    class="google-map-embeded"></iframe>
  </section>
  <!-- Contact Form start -->
  <section class="contact-us mb-5" style="border-radius: 5px">
    <div class="container">
      <div class="title">
        <h1>Contact Form</h1>
        <p class="right-styled-para">Contact us from here</p>
      </div>
      <div class="contact_us">
        <div class="contact-input">
          {% include 'partials/_alerts.html' %}
          <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
          <form name="Contact" method="POST">
            <div class="Contact-input_area">
              
              <label for="name" class="-form-label font-weight-bold"
                >Name</label
              >
              <input
                id="name"
                type="text"
                class="@error('name') is-invalid @enderror"
                name="full_name"
                autocomplete="name"
                placeholder="Your Name"
                autofocus
              />

              <label for="email" class="-form-label font-weight-bold"
                >Email Address</label
              >
              <input
                id="email"
                type="email"
                name="email"
                autocomplete="email"
                placeholder="Your Email"
              />
              <label for="number" class="-form-label font-weight-bold"
                >Phone Number</label
              >
              <input
                id="number"
                type="tel"
                name="number"
                autocomplete="number"
                placeholder="Your Phone Number"
              />
            </div>
            <div class="Contact-input_textarea">
              <label for="message" class="-form-label font-weight-bold"
                >Message</label
              >
              <textarea
                id="message"
                type="text"
                cols="40"
                rows="6"
                name="message"
                autocomplete="message"
                placeholder="Type Something..."
              ></textarea>
            </div>
            <div class="send_message">
              <button class="btn btn-outline-primary">Send Message</button>
            </div>
          </form>
        </div>
        <div class="contact-information">
          <h4>Contact Details of Nepal</h4>
          <p class="contact-details">
            <span class="label phone">
              <a href="tel:01-4421860"> <i class="fas fa-phone-alt contact-i"></i>
                Phone :
                977-01-4421860</a>
            </span>
          </p>
          <p class="contact-details">
            <span class="label mphone">
              <a href="tel:9810351494"><i class="fas fa-mobile-alt contact-i"></i>
              Mobile :
              +977-9810 351 494 </a>
            </span>
          </p>
          <p class="contact-details">
            <span class="label email">
              <a href="mailto: info@taraeducation.com.au"><i class="fas fa-envelope contact-i"></i>
              Email :
              info@taraeducation.com.au </a>
            </span>
          </p>
          <p class="contact-details">
            <span class="label address">
              <a href="#"><i class="fas fa-map-marker-alt contact-i"></i>
              Address : 
              New Plaza Putalaisadak,
              Kathmandu-32 </a>
            </span>
          </p>
          <h4>Contact Details of Australia</h4>
          <p class="contact-details">
            <span class="label mphone">
              <a href="tel:02 - 0422 863 498"><i class="fas fa-mobile-alt contact-i"></i>
              Mobile : 
              02 - 0422 863 498 </a>
            </span>
          </p>
          <p class="contact-details">
            <span class="label email">
              <a href="mailto: info@taraeducation.com.au"><i class="fas fa-envelope contact-i"></i>
              Email : 
              info@taraeducation.com.au</a>
            </span>
          </p>
          <p class="contact-details">
            <span class="label address">
             <a href="#"><i class="fas fa-map-marker-alt contact-i"></i>
              Address :
              Suite 3 - Level 4, 
              50 Margaret St, Sydney 2000 </a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-banner">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2292.189865681508!2d151.2045263391035!3d-33.87348607922133!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3c697ba0df%3A0xdf8c3e0e9d41767c!2sLumiere%20Residences%2C%2093%20Bathurst%20St%2C%20Sydney%20NSW%202000%2C%20Australia!5e0!3m2!1sen!2snp!4v1621926402398!5m2!1sen!2snp" 
    width="100%"
    height="450"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"></iframe>
  </section>
  <!-- Contact Form End -->
  {% block script %}
<script src="{% static 'js/contact.js' %}"></script>
  {% endblock %}
{% endblock %}
  