.row {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.hero-img {
  height: 57vh;
  width: 50%;
  padding-left: 50px;
  margin-left: 150px;
  margin-top: 6rem;
  position: relative;
}
.hero-section-title {
  color: cadetblue;
  margin-top: 30px;
  padding-left: 30px;
}
.hero-section-description {
  padding-left: 40px;
  font-size: 1.5rem;
  margin-top: 8rem;
}
.hero-section-description-sub {
  padding-left: 40px;
  font-size: 1.5rem;
  margin-top: -7px;
}
.hero-course-subject {
  margin-top: -16px;
  font-size: 1.3rem;
  padding-left: 40px;
}
.hero-course-title {
  color: #20247b;
  font-size: 2rem;
  padding-left: 10px;
  word-spacing: 10px;
}

.button {
  background-color: #eb5757; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.hero-join-now-button {
  background-color: white;
  color: black;
  border: 2px solid #eb5757;
  padding: 10px 30px 10px 30px;
  margin-left: 40px;
}

.hero-join-now-button:hover {
  background-color: #eb5757;
  color: white;
}
/* University */
/* Experts */
.expert-title {
  font-size: 3rem;
  text-align: center;
  font-family: "-webkit-pictograph";
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  color: #20247b;
  margin-top: 74px;
  margin-bottom: 20px;
}

#bg-color {
  background-color: #f3ebeb;
  padding-bottom: 10px;
}

.about-img {
  /* border-radius: 50%; */
  height: 109px;
  margin-left: 34%;
}
.owl-carousel .owl-item img {
  width: 100% !important;
}

/* Courses */
.course-col {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.course-row:after {
  content: "";
  display: table;
  clear: both;
}

.course-description {
  float: left;
  width: 50%;
  padding: 10px;
}

.course-title {
  font-size: 1.5rem;
  font-family: "-webkit-pictograph";
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

.course-teacher {
  font-family: "-webkit-pictograph";
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #20247b;
}

.course-des {
  font-size: 1.1rem;
  font-family: "-webkit-pictograph";
  padding-bottom: 10px;
  text-align: left;
}

/*Services section*/
.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 11px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #fc5356;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}
.feature-box-1 h5 {
  color: #20247b;
  font-weight: 600;
}
.feature-box-1 p {
  margin: 0;
}
.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #20247b;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1:hover {
  top: -5px;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}
.section {
  padding: 0px 0;
  position: relative;
}
.section-title {
  padding-bottom: 0px;
}
.section-title h2 {
  font-weight: 700;
  color: #20247b;
  font-size: 45px;
  margin: 40px auto;
  padding-left: 15px;
  text-align: center;
}
/* Counselling */

.counselling {
  padding-top: 70px;
  padding-bottom: 70px;
}

.book-free-counselling {
  font-size: 3rem;
  text-align: center;
  font-family: "SeoulHangang CEB";
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px !important;
  padding-bottom: 20px;
}

.counselling-description {
  text-align: center;
  max-width: 1000px;
  margin-left: 150px;
  font-weight: 500;
  margin-top: -20px;
}
.book-a-session {
  background-color: #eb5757;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 43%;
  transition-duration: 0.4s;
  position: relative;
  cursor: pointer;
}
.email-num-details {
  position: relative;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1000px) {
  .hero-img {
    height: auto;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 6rem;
    position: relative;
  }
  .hero-section-description {
    padding-left: 0px;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 30px;
    text-align: left;
    margin-bottom: 1px;
  }
  .hero-section-description-sub {
    padding-left: 30px;
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .hero-course-subject {
    margin-top: 0px;
    font-size: 1.2rem;
    padding-left: 30px;
  }
  .hero-course-title {
    color: #20247b;
    font-size: 1.4rem;
    padding-left: 10px;
    word-spacing: 10px;
  }

  .button {
    background-color: #20247b; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .hero-join-now-button {
    background-color: white;
    color: black;
    border: 2px solid #eb5757;
    padding: 10px 30px 10px 30px;
    margin-left: 30%;
  }
  .course-col {
    float: left;
    width: 100%;
    padding: 10px;
  }
  .course-description {
    float: left;
    width: 100%;
    padding: 10px;
  }
  .book-free-counselling {
    font-size: 3rem;
    text-align: center;
    font-family: "SeoulHangang CEB";
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px !important;
    padding-bottom: 10px;
  }
  .counselling-description {
    text-align: center;
    max-width: 1000px;
    margin-left: 0px;
    font-weight: 500;
    margin-top: 10px;
  }
  .book-a-session {
    background-color: #eb5757;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 100px;
    transition-duration: 0.4s;
    position: relative;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
}
