.visa-section {
    margin-top: 100px;
}

.visa-section h2{
    margin: 10px auto;
}

.visa-section p {
    text-align: justify;
}

.visa-img{
    height: 400px;
}

.visa-img img{
    height: 100%;
    object-fit: cover;
}
