{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About Us
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'about' %}">About Company</a></li>
              <li><a class="dropdown-item" href="{% url 'meetteam' %}">Meet Our Team</a></li>
              {% if message %}
              {%for Message in message %}
                <li><a class="dropdown-item" href="{% url 'messages' Message.id %}">{{Message.message_title}}</a></li>
              {% endfor %}
              {% else %}
              <p>Message not found</p>
              {% endif %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Our Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'company_service' %}">Service</a></li>
              {% if service %}
              {% for serv in service %}
                <li><a class="dropdown-item" href="{% url 'serviceDescription' serv.id %}">{{serv.service_title}}</a></li>
              {% endfor %}
              {% else %}
              <p>Message not found</p>
              {% endif %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Visa Facts
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for visa in visas %}
                <li><a class="dropdown-item" href="{% url 'visa' visa.id %}">{{visa.visa_title}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto social_icons">
          <div class="social_icon">
            <a href="https://www.instagram.com/tecgroup.global/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          <div class="social_icon">
            <a href="https://twitter.com/TecGroupGlobal1"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
          <div class="social_icon">
           <a href="https://www.facebook.com/tecgroupglobal"><i class="fa fa-facebook " aria-hidden="true"></i></a> 
          </div>
        </ul>
      </div>
    </div>
  </nav>