.static-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background: linear-gradient(135deg, #eb5656a6,hsla(284, 59%, 64%,0.65)),url('../img/img1.jpg') no-repeat center center / cover;
}

.service-title h2{
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    line-height: 5px;
    font-weight: 800;
}

.service-img{
    width: 500px;
    height: 300px;
    margin: 20px;
}

.service-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    width: 70%;
}

.service-box{
   padding: 32px;
   box-shadow: 0 0 30px rgb(31 45 61 / 13%);
   margin: 15px 0;
   position: relative;
   z-index: 1;
   border-radius: 10px;
   overflow: hidden;
   display: flex;
}

.service-content{
    margin: 20px;
}

.service-content h3{
    font-weight: 500;
    font-size: 34px;
}

@media (max-width:929px) {
    .service-box{
        flex-direction: column;
    }
}

@media (max-width:544px) {
    
.service-img{
    width: 200px;
    height: 100px;
}
}